#Phase 1: Core dependencies
fastapi
httpx
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
loguru

#Phase 2
pypdf
python-docx
pillow
pytesseract

#phase 3
sentence-transformers

#Phase 4
faiss-cpu
rank-bm25
ollama

#phase 5
sqlalchemy
sqlalchemy
streamlit
requests
